div.player-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

div.player-modal {
    margin: 0 auto;
    height: 80px;
    width: 90%;
    max-width: 800px;
    background: rgba(173, 173, 173, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
}

.player {
    width: 100%;
    height: 100%;
    display: flex;
}

.player div.play-control {
    flex: 0 0 80px;
}

.player > div {
    flex : 1;
}

div.progress { 
    padding-right:30px;
}

div.play-control .play, div.play-control .pause {
    transition: all .2s ease-in-out;
    position:absolute;
}

div.play-control div.control-buttons {
    width: 26px;
    height: 26px;
    position: relative;
    margin: 0 auto;
    padding: 27px;
}

.hide {
    opacity: 0;
}

.progress {
    position:relative;
}
.progress svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* bottom: 50%; */
    transform: translate(-50%);
}

div.progress-holder, div.progress-full {
    height:100%;
}
div.progress-full, div.progress-loader {
    position: relative;
}

svg.progress rect {
    -webkit-transition: width .500s; /* For Safari 3.1 to 6.0 */
    transition: width .500s;
}

div.play-control svg {
}

/* bg */

#background-layer {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.smart-object {
    position: absolute;
    -webkit-backface-visibility: "hidden";
    -moz-backface-visibility: "hidden";
    -ms-backface-visibility: "hidden";
    -o-backface-visibility: "hidden";
    -webkit-transform-style: "flat";
    -moz-transform-style: "flat";
    -ms-transform-style: "flat";
    -o-transform-style: "flat";

    /*height: inherit;*/
    /*width: inherit;*/
}



/* page */

html {
    font-size:10px;
}

body {
    width:100%;
    height:100%;
    color:white;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Serif Pro', serif;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}

#ui-layer {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#ui-layer .content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header .menu {
    width: 20px;
    height:20px;
    padding:20px;
}

header .menu span {
    display: block;
    background: #eee;
    height: 2px;
    width: 100%;
    position: relative;
}

header .menu span:nth-child(1) {
    top:2px;
}
header .menu span:nth-child(2) {
    top:5px;
}
header .menu span:nth-child(3) {
    top:8px;
}

footer {
    position: fixed;
    bottom:0;
    height:60px;
    width:100%;
    font-size: 1.2rem;
    display: flex;
}

footer .footer-left, footer .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.footer-left {
    padding-left:20px;
}

.footer-right {
    margin-left: auto;
}

/* new eqlzr */
.equalizer {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin:20px;
  position:relative;
  top:-4px;
}

.equalizer span {
  background-color: #eee;
  width: 2px;
  height: 0px;
  bottom: 0px;
  display: block;
  position: absolute;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
.equalizer span:nth-child(1) {
  margin-left: 0;
}
.equalizer span:nth-child(2) {
  margin-left: 4px;
}
.equalizer span:nth-child(3) {
  margin-left: 8px;
}
.equalizer span:nth-child(4) {
  margin-left: 12px;
}
.equalizer span:nth-child(5) {
  margin-left: 16px;
}
.equalizer.paused {
 
}
.equalizer.paused span {
  height: 1px !important;
}

