div.player-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

div.player-modal {
    margin: 0 auto;
    height: 80px;
    width: 90%;
    max-width: 800px;
    background: rgba(173, 173, 173, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
}

.player {
    width: 100%;
    height: 100%;
    display: flex;
}

.player div.play-control {
    flex: 0 0 80px;
}

.player > div {
    flex : 1;
}

div.progress { 
    padding-right:30px;
}

div.play-control .play, div.play-control .pause {
    transition: all .2s ease-in-out;
    position:absolute;
}

div.play-control div.control-buttons {
    width: 26px;
    height: 26px;
    position: relative;
    margin: 0 auto;
    padding: 27px;
}

.hide {
    opacity: 0;
}

.progress {
    position:relative;
}
.progress svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* bottom: 50%; */
    transform: translate(-50%);
}

div.progress-holder, div.progress-full {
    height:100%;
}
div.progress-full, div.progress-loader {
    position: relative;
}

svg.progress rect {
    -webkit-transition: width .500s; /* For Safari 3.1 to 6.0 */
    transition: width .500s;
}

div.play-control svg {
}

/* bg */

#background-layer {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.smart-object {
    position: absolute;
    -webkit-backface-visibility: "hidden";
    -moz-backface-visibility: "hidden";
    -ms-backface-visibility: "hidden";
    -o-backface-visibility: "hidden";
    -webkit-transform-style: "flat";
    -moz-transform-style: "flat";
    -ms-transform-style: "flat";
    -o-transform-style: "flat";

    /*height: inherit;*/
    /*width: inherit;*/
}